html {
    font-size: 100%; /* keep */
    box-sizing: border-box; /* keep */
}
* {
    box-sizing: inherit; /* keep */
}
body {
    font-family: sans-serif;
    background: #fff;
    color: #333;
    margin: 0;
    padding: 6rem;
}
h1, h2 {
  font-family: serif;
  font-size: 300%;
  margin: 0;
  padding-bottom: 2rem;
}

h2 {
  padding-top: 1rem;
}


@media screen and (max-width: 700px) {
  body {
    margin: 2rem;
    padding: 2rem;
  }
